    body{   background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.colorhexa.com/98bfe7.png);
    background-size: cover;
    background-repeat: no-repeat;}


    .banner {
   background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 100px 50px;
    box-shadow: 0 0 30px 30px rgb(153, 196, 227) inset;
  }

  .banner-content {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      }        

  .bannerB {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/balance-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;

  }
  .banner-contentB {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .banner-contentBé {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerBé {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/belier-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;

  }

  .banner-contentC {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerC {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/cancer-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentCa {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerCa {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/cap-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentG {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerG {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/gege-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentL {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerL {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/lion-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentP {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerP {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/poissons-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentS {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerS {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/sagittaire-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentSC {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerSC {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/scorpion-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentT {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerT {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/toto-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentV {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerV {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/verseau-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .banner-contentVI {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: auto;     
      } 

  .bannerVI {
   background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), url(https://www.astro.fr/img/signe_astro/vierge-bleu.png);
    background-size: contain;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 400px;
    padding: 10px 10px;
  }

  .cards {
    padding: 15px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .card-element {
    width: 30%;
    background-size: contain;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px; 
    background-repeat: no-repeat;
  }

  .card-element a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px #000000;
  }

  h1 {font-family: Andale, 'Andale mono', serif;
  color: rgb(0,0,0); 

    font-size: 25px;
    display: flex;
  justify-content:center

  }

  h2 {font-family: Andale, 'Andale mono', serif;
  color: rgb(0,0,0); 

    font-size: 25px;
    display: flex;
  justify-content:center
  }

  h3{font-family: Andale, 'Andale mono', serif;
  color: rgb(0,0,0); 

    font-size: 15px;
    display: flex;
  justify-content:center
  }

  h4{font-family: Andale, 'Andale mono', serif;
  color: rgb(242, 210, 242); 
  text-shadow: 0 0 5px #000000;

    font-size: 60px;
    display: flex;
  justify-content:center
  }

  h5 {font-family: Andale, 'Andale mono', serif;
  color: rgb(242, 210, 242); 
  text-shadow: 0 0 5px #000000;

    font-size: 20px;
    display: flex;
  justify-content:center
  }

  p{font-family: Andale, 'Andale mono', serif;
  color: rgb(2, 4, 5); 

    font-size: 18px;
    margin: 50px;
    }

  ul{font-family: Andale, 'Andale mono', serif;
  color: rgb(2, 4, 5); 


    font-size: 18px;
    margin: 50px;
    }

  .réseaux {
    color: rgb(242, 210, 242);
    text-shadow: 0 0 5px #000000;
    justify-content: center;
    text-align: center;

    font-size: 50px;
     }

     .button{
      justify-content: :center;
      text-align: center;
     }


  /* On screams that are 600px or less */
  @media screen and (max-width: 600px) {
    .cards {
      display: block;
    }
    .card-element {
      width: 85%;
      height: 200px;
    }
    .banner {
      height: 800px;
    }

  }


